* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Custom Styles for Inventory Management */

body {
    background-color: #f8f9fa;
}

/* .navbar-brand {
    font-weight: bold;
} */
.main {
    display: flex;
    margin: 5%;
    padding: 5%;
    
}
.search-section {
    width: 100%;
    background-color: #0272d4c0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
}

.result-item {
    padding: 15px;
    margin: 10px 0;
    border: 3px solid #04115a;
    border-radius: 15px;
    background-color: #03261524;
    color: white;
    box-shadow: 3px 5px 2px #ac9c0a77;
}

.result-item h5 {
    margin-bottom: 10px;
}

/* footer {
    background-color: #e9ecef;
    margin-top: 40px;
} */
