* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: whitesmoke;
    text-align: center;
}

.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    gap: 5px;
    padding: 5px;
    height: 100%; 
    /* Full height layout */
}

.header {
    grid-area: header;
    background: rgb(173, 225, 230);
    padding: 20px;
    text-align: center;
    position: relative;

}

.nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 10px;
    /* margin: 20px; */
    padding: 20px;
    justify-content: space-between;
}

#itemList {
    list-style: none;
    padding: 0;
}


.nav a {
    text-decoration: none;
    color: black;
}

.main-container {
    background-color: rgb(203, 175, 140);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    width: 100%;
}
.ptext {
    color: azure;
    margin: 20px;
    padding: 20px;
    font-size: 25px;
    width: 100%;
    align-content: center;
    justify-content: center;
    border: 1px solid rgb(209, 232, 110);
    border-radius: 15px;
    box-shadow: 2px 5px 3px #777;
}

.section {
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 3px 7px 5px #342c2c;
    margin: 10px;
}

#img {
   
    width: 300px;
    height: 300px;
    display: flex;
}

.search-section {
    display: inline;
}

.footer {
    grid-area: footer;
    background: lightgray;
    padding: 20px;
    text-align: center;
}


/* Mobile Layout */
@media (max-width: 750px) {
    .main-container {
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    #img {
        width: 250px;
        height: 250px;
    }
    .ptext {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-areas:
            "header header header"
            "main main"
            "footer";
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }
    .ptext {
        text-align: center;
    }
}

/* Tablet Layout */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
    }
    .ptext {
        text-align: center;
    }
}

@media (max-width: 999px) {
    .main-container {
        margin: 20px;
        background-color: rgb(248, 191, 232);
    }
    #img {
        width: 250px;
        height: 250px;
    }
    .ptext {
        text-align: center;
    }
}

/* Desktop Layout */
@media (min-width: 1024px) {
    .container {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }
    .ptext {
        text-align: center;
    }
}